<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<td  class="col-sm-3">
            <a href="http://127.0.0.1:8000/Piazza/new_course{{name.name}}" class="btn btn-info" role="button">new course</a>
        </td>
        <td  class="col-sm-3">
            <a href="http://127.0.0.1:8000/Piazza/display_course{{name.id}}" class="btn btn-info" role="button">list of courses</a>
        </td>
</body>
</html>